{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bookorganizer/css/style.css' %}">
</head>
<body>
    <h1>Welcome to Book Memory</h1>
    <form method="get" action="/">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ request.GET.title|default:'' }}"><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{ request.GET.author|default:'' }}"><br>
        <label for="series">Series:</label>
        <input type="text" id="series" name="series" value="{{ request.GET.series|default:'' }}"><br>
        <label for="media_type_id">Media Type:</label>
        <select id="media_type_id" name="media_type_id">
            <option value="">All</option>
            {% for media_type in media_types %}
                <option value="{{ media_type.id }}" {% if media_type.id == media_type_id %}selected{% endif %}>{{ media_type.name }}</option>
                <!-- Option: {{media_type.id}} VS: {{ media_type_id }} -->
            {% endfor %}

        </select>
        <button type="submit">Search</button>
    </form>

    {% if results %}
    <h2>Search Results</h2>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Series</th>
            <th>Media Type</th>
            <th>Link</th>
            <th>Status</th>
        </tr>
        {% for book in results %}
        <tr>
            <td>{{ book.title }}</td>
            <td>
                {% if book.authors %}
                    {% if book.authors.all %}
                        {% for author in book.authors.all %}
                            <a href="/author?author={{ author.id }}">{{ author.full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ book.authors }}
                    {% endif %}
                {% endif %}
            </td>
            <td><a href="/?series={{ book.series }}">{{ book.series }}</a></td>
            <td><a href="/?media_type_id={{ book.media_type.id }}">{{ book.media_type.name }}</a></td>
            <!-- TODO: Add an option to provide own links -->
             {% if book.link|is_asin and book.media_type.name == "Audiobook" %}
                <td><a href="https://audible.com/pd/{{ book.link }}">Audible</a></td>
            {% elif "j-novel.club" in book.link %}
                <td><a href="{{ book.link }}">J-Novel Club</a></td>
            {% else %}
                <td>
                    {% if book.link %}
                        {% if book.link|is_url %}
                            <a href="{{ book.link }}">Link</a>
                        {% else %}
                            {{ book.link }}
                        {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            {% endif %}
            <td>{{ book.status }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <!-- Load the JavaScript file from static directory -->
    <script src="{% static 'bookorganizer/js/bookorganizer.js' %}"></script>
</body>
</html>
